@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

@import '../../../node_modules/font-awesome/scss/font-awesome.scss';

$fa-font-path: '../webfonts';
.trans {
	text-align: left;
	color: white;
	border: 0;
	background-color: transparent;
}
.fa {
	color: white;
	position: relative;
	display: table-cell;
	width: 60px;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
}

.main-menu:hover,
nav.main-menu.expanded {
	width: 250px;
	overflow: visible;
}

.main-menu {
	* {
		color: white;
	}
	background: #121826;
	border-right: 1px solid #e5e5e5;
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	left: 0;
	width: 60px;
	overflow: hidden;
	-webkit-transition: width 0.05s linear;
	transition: width 0.05s linear;
	-webkit-transform: translateZ(0) scale(1, 1);
	z-index: 1000;
}

.main-menu > ul {
	margin: 7px 0;
}

.main-menu li {
	position: relative;
	display: block;
	width: 250px;
}

.main-menu li > a {
	position: relative;
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
	color: #999;
	font-family: arial;
	font-size: 14px;
	text-decoration: none;
	-webkit-transform: translateZ(0) scale(1, 1);
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.main-menu .nav-icon {
	position: relative;
	display: table-cell;
	width: 60px;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
}

.main-menu .nav-text {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 190px;
	font-family: 'Titillium Web', sans-serif;
}

.main-menu > ul.logout {
	width: 250px;
	position: absolute;
	left: 0;
	bottom: 0;
}

.no-touch .scrollable.hover {
	overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
	overflow-y: auto;
	overflow: visible;
}

a:hover,
a:focus {
	text-decoration: none;
}

nav {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

nav ul,
nav li {
	outline: 0;
	margin: 0;
	padding: 0;
}
.main-menu li:hover > button,
nav.main-menu li.active > button,
.dropdown-menu > li > button:hover,
.dropdown-menu > li > button:focus,
.dropdown-menu > .active > button,
.dropdown-menu > .active > button:hover,
.dropdown-menu > .active > button:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover button,
.dashboard-page nav.dashboard-menu ul li.active button {
	color: #fff;
	background-color: #000000;
}

.area {
	display: flex;
	float: left;
	background: #f2f5fa;
	width: 100%;
	min-height: 100vh;
}
.selectedmenu {
	background-color: #0c0c18;
}
